body {
    background-color: #121212;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #1f1f1f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #00FF00;
    text-decoration: none;
    margin-left: 10px;
}

nav a:hover {
    color: #FF00FF;
}

.container {
    padding: 20px;
}

h2, h1 {
    color: #00FF00;
}

form {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    color: #00FF00;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #00FF00;
    color: #1f1f1f;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FF00FF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

th {
    background-color: #1f1f1f;
}

td {
    color: #00FF00;
}
